@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    background-color: #fcfaf3;
    color: #ff4e36;
}

li, a, button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: darkslategrey;
    text-decoration: none;
}

.logo {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
    padding-left: .5em;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #cd853f;
}

.wallet {
    flex: auto;
    align-items: center;
}

.createButton {
    margin-left: 20px;
    padding: 9px 25px;
    color: #ff4e36;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #faa599;
}